/* Standard layout for display behaviors */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}
